<div class="text-layout">
  <h1>Hola mundo desde el hermoso Angular</h1>
</div>

<p-card header="header">    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa
    ratione quam perferendis esse, cupiditate neque quas!  
</p-card>

<button
  pButton
  label="Save"
  type="button"
  iconPos="right"  
  icon="pi pi-save"  
  [loading]="isLoading"
  (click)="changeState()"
  class="p-button-help"
></button>

